section.section.device
	.device__in
		.device__row
			.device__col.device__col--info
				.device__info
					h1.device__title Superstar SEO
					.device__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam amet, platea diam rhoncus, sem tortor, turpis ac tincidunt. Nisi adipiscing a suspendisse justo eleifend volutpat et vitae ac. Consequat in mi iaculis hendrerit mauris mattis. Lacus risus amet at magna urna. Felis nec orci a, quis nullam vel sem nunc enim. Sit mi tellus eget commodo augue.

			.device__col.device__col--img
				+picture({
					img: `device-full.png`,
					class: 'device__img_w',
					img_class: 'device__img',
					alt: 'some image',
				})