@mixin st_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;
	font-family: $font_1;

	cursor: pointer;

	&[type='submit'] {
		@include appearance(none);
	}

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

//color mixins:
@mixin btn_style_blue {
	font-weight: 500;
	color: $white;
	background-color: $color_link_base;
	transition: background-color 0.3s ease;

	@include st_btn;

	&:hover {
		background-color: darken($color_link_base, 10%);
	}
}

@mixin btn_style_green {
	position: relative;
	font-weight: 500;
	color: $white;
	background-color: $green;
	transition: background-color 0.3s ease, border-color ease 0.3s;
	border-color: transparent;

	@include st_btn;

	&:after {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		content: '';
		box-shadow: 0 1.2rem 2.4rem 0 rgba(44, 39, 56, 0);
		pointer-events: none;
		opacity: 0;
		border-radius: 4rem;
		outline: solid 4px rgba(105, 174, 150, 0);
		transition: opacity ease 0.3s, box-shadow ease 0.3s, outline ease 0.3s;
	}

	&:hover {
		background-color: #3b7a64;
		&:after {
			opacity: 1;
			box-shadow: 0 1.2rem 2.4rem 0 rgba(44, 39, 56, 0.08);
		}
	}

	&:focus {
		&:after {
			opacity: 1;
			outline: solid 4px rgba(105, 174, 150, 0.4);
			border: solid 2px #3b7a64;
		}
	}
}

//size mixins:
@mixin btn_size_normal {
	width: 100%;
	padding: 0 3rem;
	font-size: 1.6rem;
	border-radius: 4rem;

	@include bp($point_2, min) {
		height: 6rem;

		line-height: 6rem;
	}
	@include bp($point_3) {
		height: 4rem;

		line-height: 4rem;
	}
}
