@import 'family';
@import 'reset';
@import 'fonts';
@import 'print';

//------------------------------------------------------------base styles
:root {
	--full-screen: calc(var(--vh, 1vh) * 100);

	--height-header: 10rem;
	--height-footer: 10rem;

	@include bp($point_2, min) {
		--gl-indent: 6rem;
	}
	@include bp($point_3) {
		--gl-indent: 2rem;
	}
}

html {
	scroll-behavior: smooth;
	height: 100%;
	font-weight: 400;
	line-height: 1.3;
	font-family: $font_1;

	@include bp(1921px, min) {
		font-size: calc(100vw / 1920 * 10);
	}

	@include bp(1920px, $point_7) {
		font-size: 10px;
	}

	@include bp($point_7 - 1) {
		font-size: calc(100vw / 375 * 10);
	}
}

body {
	position: relative;

	display: flex;
	height: 100%;

	font-size: $font_size_base;
	color: $color_text_base;

	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: $body_bg;

	@supports (display: grid) {
		display: block;
	}

	&.body--popup_open,
	&.body--search_open,
	&.body--open_menu_state {
		overflow: hidden;
	}
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: $white;

	opacity: 1;
	transition: opacity 0.3s;

	z-index: 1000;

	.body--loaded & {
		pointer-events: none;
		opacity: 0;
	}
}

.wrapper {
	position: relative;

	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: auto !important;

	overflow-x: hidden;
}

.base {
	width: 100%;
	position: relative;
	padding: var(--height-header) 0 0;

	flex: 1 0 auto;
}

a {
	text-decoration: none;
	color: $color_link_base;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

// for wp

.editor-styles-wrapper .wp-block {
	margin-bottom: 5rem;
}
html :where(.wp-block) {
	max-width: 1200px;
}

.editor-styles-wrapper {
	overflow-x: hidden;
}

//------------------------------------------------------------base styles###
