@mixin h1 {
	font-weight: 400;
	font-family: $font_2;
	letter-spacing: 0.04em;
	line-height: 1.177;

	@include bp($point_2, min) {
		font-size: 9rem;
	}
	@include bp($point_3) {
		font-size: 4.5rem;
	}
}

@mixin h2 {
	font-weight: 400;
	font-family: $font_2;
	letter-spacing: 0.04em;
	line-height: 1.171;

	@include bp($point_2, min) {
		font-size: 7rem;
	}
	@include bp($point_3) {
		font-size: 3.5rem;
	}
}

@mixin h3 {
	font-weight: 400;
	font-family: $font_2;
	letter-spacing: 0.04em;
	line-height: 1.171;

	@include bp($point_2, min) {
		font-size: 6rem;
	}
	@include bp($point_3) {
		font-size: 3.5rem;
	}
}

@mixin h4 {
	font-size: 3.2rem;
}

@mixin h5 {
	font-size: 2.4rem;
}

@mixin h6 {
	font-size: 2rem;
}

@mixin text {
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 300;
	line-height: 1.5;
	letter-spacing: 0em;
}

@mixin text-l {
	font-size: 2rem;
	font-style: normal;
	font-weight: 300;
	line-height: 1.5;
	letter-spacing: 0em;
}

@mixin text-i {
	font-size: 1.8rem;
	font-style: italic;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0em;
}

@mixin text-b {
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0em;
}

@mixin text-s {
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 300;
	line-height: 1.5;
	letter-spacing: 0em;
}
// offsets

@mixin title_offset {
	margin-bottom: 2rem;
}
